.ipynb-checkpoints
sommerakademie-oxford/data
*.geojson
*.nc
*.tiff
*.tif
*.html
sommerakademie-oxford/tmp/
sommerakademie-oxford/_build/
sommerakademie-oxford/tmp.csv
*cleared.ipynb

data
data-preparation.ipynb

.venv